In [184]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [187]:
from selenium.webdriver import Chrome

In [188]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [189]:
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\chromedriver_win32")

In [88]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [89]:
driver.get("https://www.naukri.com/")

In [90]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Analyst')

In [91]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [92]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [93]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [96]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') 
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]') 
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [97]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [98]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,location,company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,Diverse Lynx,1-5 Yrs
1,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs
2,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs
3,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
4,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
5,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
6,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
7,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Diverse Lynx,5-7 Yrs
9,Data Analyst,Bangalore/Bengaluru,Laundryheap Limited,6-8 Yrs

In [99]:
# Answer number 2
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\chromedriver_win32")

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [100]:
driver.get("https://www.naukri.com/")

In [101]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Scientist')

In [102]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [103]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [104]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [105]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') 
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]') 
for i in experience_tags[0:10]:
     exp=i.tex
    experience_required.append(exp)

In [106]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [107]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,location,company_name,Experience
0,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain,3-6 Yrs
1,"Manager, Data Solution Specialist","Bangalore/Bengaluru, Mumbai, New Delhi",Pfizer,3-5 Yrs
2,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,5-11 Yrs
3,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
4,Artificial Intelligence Senior Analyst-Intelli...,Bangalore/Bengaluru,Accenture,5-8 Yrs
5,Data Scientist I,Bangalore/Bengaluru,Philips,5-7 Yrs
6,Data Science Senior Analyst,Bangalore/Bengaluru,Accenture,5-8 Yrs
7,Research Scientist,Bangalore/Bengaluru,Siemens,2-5 Yrs
8,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",HR Remedy India,3-8 Yrs
9,Permanent Opportunity For Data scientist with AWS,"Hybrid - Bangalore/Bengaluru, Chennai, Coimbat...",Deloitte,3-8 Yrs

In [123]:
#Answer number 3
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\chromedriver_win32")

In [124]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [125]:
driver.get("https://www.naukri.com/")

In [126]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Scientist')

In [127]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [128]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [129]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [133]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') 
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]') 
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [134]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [135]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,location,company_name,Experience
0,Data Scientist,"Hybrid - Delhi / NCR, Pune, Bangalore/Bengalur...",Infogain,3-6 Yrs
1,"Manager, Data Solution Specialist","Mumbai, New Delhi, Bangalore/Bengaluru",Pfizer,3-5 Yrs
2,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,5-11 Yrs
3,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,5-12 Yrs
4,Data Scientist,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",HR Remedy India,3-8 Yrs
5,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Neal Analytics,5-11 Yrs
6,Opportunity | Data Scientist | Tavant India,"Noida, Kolkata, Hyderabad/Secunderabad, Bangal...",Tavant Technologies,6-11 Yrs
7,Data Scientist with Retail Domain,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
8,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",TRH Consultancy Services,5-10 Yrs
9,Data Scientist,"Delhi / NCR, Noida, Kolkata, Mumbai, Hyderabad...",TRH Consultancy Services,5-10 Yrs

In [140]:
# Answer 4
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\chromedriver_win32")

In [165]:
url="https://www.flipkart.com/"
driver.get(url)

In [143]:
search_g= driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_g

In [144]:
search_g.send_keys('sunglasses')

In [145]:
search_btn=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn

In [146]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [147]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [157]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [160]:
B_name[:100]

['VINCENT CHASE',
 'Resist',
 'TamTam',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'PIRASO',
 'Shaah Collection',
 'PIRASO',
 'iCopertina',
 'NuVew',
 'Fastrack',
 'NuVew',
 'AISLIN',
 'NuVew',
 'GANSTA',
 'VINCENT CHASE',
 'Singco India',
 'Fastrack',
 'Singco India',
 'Fastrack',
 'RESIST EYEWEAR',
 'SUNBEE',
 'Fastrack',
 'DAHAAZIL',
 'VINCENT CHASE',
 'kingsunglasses',
 'SRPM',
 'NuVew',
 'Resist',
 'PIRASO',
 'Fastrack',
 'METRONAUT',
 'POLAROID',
 'PIRASO',
 'Fastrack',
 'MGKNYAH',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Resist',
 'TamTam',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'PIRASO',
 'Shaah Collection',
 'PIRASO',
 'iCopertina',
 'NuVew',
 'Fastrack',
 'NuVew',
 'AISLIN',
 'NuVew',
 'GANSTA',
 'VINCENT CHASE',
 'Singco India',
 'Fastrack',
 'Singco India',
 'Fastrack',
 'RESIST EYEWEAR',
 'SUNBEE',
 'Fastrack',
 'DAHAAZIL',
 'VINCENT CHASE',
 'kingsunglasses',
 'SRPM',
 'NuVew',
 'Resist',
 'PIRASO',
 'Fastrack',
 'METRONAUT',
 'POLAROID',
 'PIRASO',
 'Fastrack',
 'MGKNYAH',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Resist',
 'TamTam',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'PIRASO',
 'Shaah Collection',
 'PIRASO',
 'iCopertina',
 'NuVew',
 'Fastrack',
 'NuVew',
 'AISLIN',
 'NuVew',
 'GANSTA',
 'VINCENT CHASE',
 'Singco India']

In [159]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [162]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [163]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,VINCENT CHASE,"₹1,049","by Lenskart Polarized, UV Protection Retro Squ...",Hot Deal
1,Resist,"₹1,399",Polarized Wayfarer Sunglasses (Free Size),Daily Saver
2,TamTam,₹181,UV Protection Retro Square Sunglasses (Free Size),Hot Deal
3,PIRASO,₹224,UV Protection Clubmaster Sunglasses (54),Hot Deal
4,PIRASO,₹268,UV Protection Aviator Sunglasses (Free Size),Hot Deal
...,...,...,...,...
95,AISLIN,₹495,"UV Protection, Riding Glasses Rectangular Sung...",Hot Deal
96,NuVew,₹125,UV Protection Wayfarer Sunglasses (Free Size),47% off
97,GANSTA,₹292,"Riding Glasses, UV Protection Clubmaster, Wayf...",65% off
98,VINCENT CHASE,₹629,UV Protection Aviator Sunglasses (Free Size),81% off
99,Singco India,₹396,"Polarized, Riding Glasses, UV Protection Wayfa...",85% off

In [166]:
#Answer5
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\chromedriver_win32")

In [167]:
url="https://www.flipkart.com/"
driver.get(url)

In [168]:
search_g= driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_g

In [169]:
search_g.send_keys('sneakers')

In [170]:
search_btn=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn

In [171]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [172]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [178]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [180]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [182]:
sneak=pd.DataFrame({})
sneak['Brand_name']=B_name[:100]
sneak['P_price']=Price[:100]
sneak['Pr_desc']=P_desc[:100]
sneak['P_discount']=Discount[:100]

In [183]:
sneak

,Brand_name,P_price,Pr_desc,P_discount
0,Shozie,₹399,Stylish Sneakers Shoes for Women And Girls Sne...,60% off
1,BIRDE,₹399,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",73% off
2,BIRDE,₹449,Megpar White New Stylish Look Comfortable Casu...,77% off
3,Layasa,₹449,Stylish Sneakers Shoes for Women And Girls Sne...,55% off
4,BIRDE,₹449,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",70% off
...,...,...,...,...
95,World Wear Footwear,₹229,Combo Pack of 2 Sports Sneakers For Men,84% off
96,woox enterprises,₹569,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",43% off
97,Sparx,"₹1,119",Combo Pack Of 2 Casual Shoes Sneakers For Men,20% off
98,Shozie,₹445,Sneakers For Men,55% off
99,Labbin,₹379,Sneakers For Women,60% off

In [198]:
#answer 7
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\chromedriver_win32")

In [199]:
url="https://www.amazon.in/"
driver.get(url)

In [202]:
search_g= driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_g

In [203]:
search_g.send_keys('Laptop')

In [204]:
search_btn=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_btn

In [205]:
search_btn=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_btn.click()

In [206]:
Title=[]
Price=[]
Rating=[]

In [220]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
    p_desc=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    price =driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]')
    
    
    for j  in b_name:
        Title.append(j.text)
    Title[:10]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:10] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:10]

In [221]:
print(len(b_name[:10])),print(len(Price[:10])),print(len(P_desc[:10]))

0
10
10

(None, None, None)

In [222]:
lap=pd.DataFrame({})
lap['Brand_name']=B_name[:10]
lap['P_price']=Price[:10]
lap['Pr_desc']=P_desc[:10]

In [215]:
lap

  Brand_name P_price                                            Pr_desc
0     Shozie          Stylish Sneakers Shoes for Women And Girls Sne...
1      BIRDE          Lightweight,Comfort,Summer,Trendy,Walking,Outd...
2      BIRDE          Megpar White New Stylish Look Comfortable Casu...
3     Layasa          Stylish Sneakers Shoes for Women And Girls Sne...
4      BIRDE          Lightweight,Comfort,Summer,Trendy,Walking,Outd...
5       aadi          Megpar White New Stylish Look Comfortable Casu...
6      BIRDE          Stylish Sneakers Shoes for Women And Girls Sne...
7     lejano          Lightweight,Comfort,Summer,Trendy,Walking,Outd...
8     Kraasa          Megpar White New Stylish Look Comfortable Casu...
9     Kraasa          Stylish Sneakers Shoes for Women And Girls Sne...

In [231]:
#Answer8
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\chromedriver_win32")

In [232]:
url="https://www.azquotes.com/"
driver.get(url)

In [233]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search_btn.click()

In [240]:
from selenium import webdriver
from selenium.webdriver.common.by import By


driver = webdriver.Chrome()
driver.maximize_window()


driver.get('https://www.azquotes.com/')


top_quotes_button = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes_button.click()


driver.implicitly_wait(10)


quotes = []
authors = []
types = []

quote_tags = driver.find_elements(By.XPATH,'//div[@class="title"]')
for tag in quote_tags[:10]:
    quote = tag.text.strip()
    quotes.append(quote)
    
author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]' ) 
for tag in author_tags[:10]:
    author = tag.text.strip()
    authors.append(author)

type_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]' )
for tag in type_tags[:10]:
    quote_type = tag.text.strip()
    types.append(quote_type)


for i in range(10):
    print(f'{i+1}.  Quote: {quotes[i]}')
    print(f'   Author: {authors[i]}')
    print(f'   Type: {types[i]}')
    print()


driver.quit()

0 20 35